# Objetivo general

Analizar y determinar los colegios con los mayores puntajes PAES 2024, utilizando metodologías estadísticas y técnicas de análisis de datos para identificar patrones y correlaciones relevantes.

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
print(os.getcwd())

c:\Users\guill\Escritorio\INFORMATICA\data-science\proyectos\analisis-PAES

In [3]:
#Ruta al archivo .xlsx
archivo_excel='resultados-paes-2024.xlsx'
#Cargar el archivo en un dataframe
df=pd.read_excel(archivo_excel)

In [4]:
#Cantidad de filas y columnas
df.shape

(309352, 43)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309352 entries, 0 to 309351
Data columns (total 43 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ANYO_PROCESO             309352 non-null  int64
 1   COD_SEXO                 309352 non-null  int64
 2   RBD                      309352 non-null  object
 3   UNIDAD_EDUCATIVA         309352 non-null  object
 4   NOMBRE_UNIDAD_EDUC       309352 non-null  object
 5   RAMA_EDUCACIONAL         309352 non-null  object
 6   DEPENDENCIA              309352 non-null  object
 7   CODIGO_REGION_EGRESO     309352 non-null  object
 8   NOMBRE_REGION_EGRESO     309352 non-null  object
 9   CODIGO_PROVINCIA_EGRESO  309352 non-null  object
 10  NOMBRE_PROVINCIA_EGRESO  309352 non-null  object
 11  CODIGO_COMUNA_EGRESO     309352 non-null  object
 12  NOMBRE_COMUNA_EGRESO     309352 non-null  object
 13  ANYO_DE_EGRESO           309352 non-null  object
 14  PROMEDIO_NOTAS           309352 non-null  float64
 15  PTJE_NEM                 309352 non-null  int64
 16  PORC_SUP_NOTAS           309352 non-null  int64
 17  PTJE_RANKING             309352 non-null  int64
 18  CLEC_REG_ACTUAL          309352 non-null  object
 19  MATE1_REG_ACTUAL         309352 non-null  object
 20  MATE2_REG_ACTUAL         309352 non-null  object
 21  HCSOC_REG_ACTUAL         309352 non-null  object
 22  CIEN_REG_ACTUAL          309352 non-null  object
 23  CLEC_INV_ACTUAL          309352 non-null  object
 24  MATE1_INV_ACTUAL         309352 non-null  object
 25  MATE2_INV_ACTUAL         309352 non-null  object
 26  HCSOC_INV_ACTUAL         309352 non-null  object
 27  CIEN_INV_ACTUAL          309352 non-null  object
 28  CLEC_REG_ANTERIOR        309352 non-null  object
 29  MATE1_REG_ANTERIOR       309352 non-null  object
 30  MATE2_REG_ANTERIOR       309352 non-null  object
 31  HCSOC_REG_ANTERIOR       309352 non-null  object
 32  CIEN_REG_ANTERIOR        309352 non-null  object
 33  CLEC_INV_ANTERIOR        309352 non-null  object
 34  MATE_INV_ANTERIOR        309352 non-null  object
 35  HCSOC_INV_ANTERIOR       309352 non-null  object
 36  CIEN_INV_ANTERIOR        309352 non-null  object
 37  PROMEDIO_CM_MAX          309352 non-null  float64
 38  CLEC_MAX                 309352 non-null  int64
 39  MATE1_MAX                309352 non-null  int64
 40  MATE2_MAX                309352 non-null  int64
 41  HCSOC_MAX                309352 non-null  int64
 42  CIEN_MAX                 309352 non-null  int64
dtypes: float64(2), int64(10), object(31)
memory usage: 101.5+ MB

In [6]:
df.head(7)

,ANYO_PROCESO,COD_SEXO,RBD,UNIDAD_EDUCATIVA,NOMBRE_UNIDAD_EDUC,RAMA_EDUCACIONAL,DEPENDENCIA,CODIGO_REGION_EGRESO,NOMBRE_REGION_EGRESO,CODIGO_PROVINCIA_EGRESO,...,CLEC_INV_ANTERIOR,MATE_INV_ANTERIOR,HCSOC_INV_ANTERIOR,CIEN_INV_ANTERIOR,PROMEDIO_CM_MAX,CLEC_MAX,MATE1_MAX,MATE2_MAX,HCSOC_MAX,CIEN_MAX
0,2024,2,9077,1,COMPLEJO EDUC.MUN. BRIGIDA WALKER.,H1,1,13,REGION METROPOLITANA DE SANTIAGO,131,...,,,,,0.0,711,0,0,739,0
1,2024,2,24474,4,FUNDACION DUOC,H2,4,13,REGION METROPOLITANA DE SANTIAGO,131,...,,,,,0.0,0,0,0,0,0
2,2024,1,14492,1,CENTRO EDUCACIÓN ADULTOS PEDRO DE VALDIVIA,H2,3,5,REGION DE VALPARAISO,56,...,,,,,498.5,484,513,0,520,0
3,2024,2,,,,,,,,,...,,,,,738.0,679,797,393,0,722
4,2024,2,4553,7,LICEO DE NIÑAS,H1,6,8,REGION DEL BIOBIO,81,...,,,,,547.5,597,498,0,647,0
5,2024,2,5879,2,LICEO ISABEL POBLETE V.,H2,2,9,REGION DE LA ARAUCANIA,91,...,,,,,463.5,491,436,0,373,0
6,2024,2,,,,H3,,5,REGION DE VALPARAISO,51,...,,,,,538.0,491,585,0,445,0

In [7]:
len(df)

309352

## Borrar Datos Sin Información

Se eliminarán los registros de estudiantes inscritos en el DEMRE que no asistieron a rendir la prueba.

In [8]:
#identificar valores nulos
df.isnull()

,ANYO_PROCESO,COD_SEXO,RBD,UNIDAD_EDUCATIVA,NOMBRE_UNIDAD_EDUC,RAMA_EDUCACIONAL,DEPENDENCIA,CODIGO_REGION_EGRESO,NOMBRE_REGION_EGRESO,CODIGO_PROVINCIA_EGRESO,...,CLEC_INV_ANTERIOR,MATE_INV_ANTERIOR,HCSOC_INV_ANTERIOR,CIEN_INV_ANTERIOR,PROMEDIO_CM_MAX,CLEC_MAX,MATE1_MAX,MATE2_MAX,HCSOC_MAX,CIEN_MAX
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309347,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
309348,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
309349,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
309350,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
309351,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
#Eliminar Columnas Irrelevantes para el Objetivo
#Se procederá a eliminar las columnas que no son relevantes para alcanzar el objetivo planteado.
df.drop(
    [
        'COD_SEXO',
        'ANYO_PROCESO',
        'RAMA_EDUCACIONAL',
        'DEPENDENCIA',
        "CLEC_INV_ACTUAL",
        "MATE1_INV_ACTUAL",
        "MATE2_INV_ACTUAL",
        "HCSOC_INV_ACTUAL",
        "CIEN_INV_ACTUAL",
        "CLEC_REG_ANTERIOR",
        "MATE1_REG_ANTERIOR",
        "MATE2_REG_ANTERIOR",
        "HCSOC_REG_ANTERIOR",
        "CIEN_REG_ANTERIOR",
        "CLEC_INV_ANTERIOR",
        "MATE_INV_ANTERIOR",
        "HCSOC_INV_ANTERIOR",
        "CIEN_INV_ANTERIOR"
    ],
    axis=1, 
    inplace=True)

AttributeError: 'NoneType' object has no attribute 'drop'

In [13]:
num_columnas = df.shape[1]
print(f"El número de columnas es: {num_columnas}")

AttributeError: 'NoneType' object has no attribute 'shape'